.DS_Store
build/
output/
*.o
*.depend
*.cbp
*.layout
*.dat
*.swp
*.aux
*.tex
*.stackdump
*.pdf
*~
*.bfs
*.pdf
.dir-locals.el
.dir_locals.el
\#*
*.applications
*.execution
*.list_applications
*.scheduling
*.sh
*.res